.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    &.active {
        opacity: 1;
        pointer-events: all;
    }

    &__content {
        padding: 30px;
        background-color: white;
        border-radius: 16px;
        opacity: 0;
        transform: translateY(-100%);
        transition: 0.4s;
        overflow-y: auto;
        max-height: calc(100vh - 60px);
        @media (min-width: 525.98px) {
            margin: 0px 10%;
        }
        &::-webkit-scrollbar {
            display: block;
            width: 5px;
            overflow: auto;
            height: 5px;
            background-color: lightgray;
        }

        &::-webkit-scrollbar-thumb {
            background: gray;
        }
    }

    &__content.active {
        opacity: 1;
        transform: translateY(0%);
    }
}