@import 'bootstrap/dist/css/bootstrap.min.css';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

[class*="__container"] {
  max-width: 1310px;
  margin: 0px auto;
  padding: 0px 15px;
  overflow-wrap: break-word;
}

.main {
  flex: 1 1 auto;
}


/* -------------------------------main__section__gallery------------------------------- */
.gallery__items {
  min-height: 600px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gallery__item {
  background-color: lightgray;
  position: relative;
  padding: 0px 0px 70% 0px;
}

.gallery__item img {
  user-select: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: slide-in 1s forwards;
  filter: brightness(0.85);
}

.gallery {
  margin:100px 0px;
}

@media (min-width:558px) {
  .gallery__item_big {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.gallery__image__text {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 30px;
  font-size: 42px;
  font-weight: bold;
  user-select: none;
}

@media (max-width:558px) {
  .gallery__image__text {
    font-size: 37px;
  }

  .gallery {
    margin-bottom: 50px;
  }
}

/* -------------------------------header------------------------------- */
.header {
  width: 100%;
  background-color: white;
  position: fixed;
  z-index: 10;
}

.header__content {
  display: flex;
  column-gap: 35px;
  align-items: center;
  padding: 10px 0px;
}

.header__menu {
  flex: 1 1 auto;
}

.header__logo img {
  width: 137px;
}

.menu__link:hover {
  text-decoration: underline;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 3px;
  justify-content: flex-end;
  margin-bottom: 0px;

}

.cart-header {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart-header:hover .cart-header__text {
  text-decoration: underline;
}

.menu__link {
  display: block;
  font-size: 20px;
  line-height: 1.62;
}

.cart-header__text {
  font-size: 20px;
  line-height: 1.55;
}

.cart-header__quantity {
  background-color: rgba(97, 97, 104, 0.3);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.header__logo,
.header__cart {
  position: relative;
  z-index: 5;
}

.icon-menu {
  display: none;
}

.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}

@media (max-width:991.98px) {

  .header__content,
  .menu__list {
    column-gap: 25px;
  }
}

@media (max-width:767.98px) {
  .header__logo img {
    width: 100px;
  }

  .header__content,
  .menu__list {
    column-gap: 15px;
  }

  .header__logo {
    z-index: 6;
  }

  .icon-menu {
    display: block;
    flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3s ease 0s;
  }

  .icon-menu::before {
    top: 1px;
  }

  .icon-menu::after {
    bottom: -1px;
  }

  .icon-menu span {
    top: 50%;
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .header__menu {
    z-index: 5;
  }

  .menu-open .icon-menu::before {
    top: calc(50%-1px);
    transform-origin: bottom right;
    transform: rotate(-45deg) translateX(3px);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50%-1px);
    transform-origin: top right;
    transform: rotate(45deg) translateX(3px);

  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    transition: left 0.3s ease 0s;

  }

  .menu__body::before {
    content: "";
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    z-index: 2;
  }

  .menu__list {
    row-gap: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;

  }

  .menu__link {
    font-size: 34px;
  }
}

/* -------------------------------products proud------------------------------- */

.title {
  font-weight: 700;
  font-size: 34px;
}

.products-proud__row {
  display: flex;
}

.products-proud__column {
  flex: 0 1 25%;
}

.products-card__item {
  padding: 10px;
  border: 3px solid rgb(240, 236, 236);
  transition: border 0.3s ease-in-out;
}

.products-card__item:hover {
  border: 3px solid black;
}

.products-card__image {
  position: relative;
  background-color: lightgray;
  padding: 90px 0px 90% 0px;
  margin: 0px 0px 20px 0px;
}

.products-card__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  animation: slide-in 1s forwards;
}

.products-proud__items {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 50px;
  margin-bottom: 100px;
}

.products-card__name {
  font-size: 20px;
  margin-bottom: 20px;
  height: 25px;
  font-weight: 600;
}

.products-card__price {
  font-size: 28px;
  font-weight: 900;
}

@media (max-width:558px) {
  .title {
    font-size: 28px;
  }

  .products-proud__items {
    margin-bottom: 50px;
    margin-top: 20px;
  }
}

/* -------------------------------trending now------------------------------- */
.trending {
  margin-bottom: 100px;
}

.trending__items {
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin-top: 50px;
}

.trending__items::-webkit-scrollbar {
  display: block;
  width: 10px;
  overflow: auto;
  height: 5px;
  background-color: lightgray
}

.trending__items::-webkit-scrollbar-thumb {
  background: gray;
}

.trending__items * {
  min-width: 20%;
}

.trending__title__buttons {
  display: flex;
  justify-content: space-between;
}

.trending__buttons {
  width: 110px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.trending__button:last-child {
  margin-left: 10px;
}

.trending__button {
  background-color: black;
  color: white;
  width: 45px;
  height: 45px;
  font-size: 20px;
}

@media (max-width:1199.98px) {
  .trending__items * {
    min-width: 25%;
  }
}

@media (max-width:991.98px) {
  .trending__items * {
    min-width: 33%;
  }
}

@media (max-width:767.98px) {
  .trending__items * {
    min-width: 50%;
  }
}

@media (max-width:575.98px) {
  .trending__items * {
    min-width: 100%;
  }

  .trending {
    margin-bottom: 50px;
  }

  .trending__items {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-top: 20px;
  }
}

/* -------------------------------living------------------------------- */

.living {
  margin-bottom: 100px;
}

.living__items {
  display: flex;
}

.living__image {
  position: relative;
  background-color: lightgray;
  padding: 0px 0px 55% 0px;
  min-height: 550px;
}

.living__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  animation: slide-in 1s forwards;
}

.living__text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 50px;
}

.living__image {
  width: 50%;
}

.living__decription {
  font-size: 20px;
  margin: 20px;
}

.living__button {
  background-color: black;
  color: white;
  width: 140px;
  height: 45px;
  font-size: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.living__button:hover {
  color: white;
}

.living__items {
  position: relative;
}

@media (max-width:575.98px) {
  .living {
    margin-bottom: 50px;
  }
}

@media (max-width:767.98px) {
  .living__text {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 0px;
    font-weight: bold;
    user-select: none;
    width: 100%;
    top: 0;
    z-index: 1;
  }

  .living__image {
    width: 100%;
    filter: brightness(0.8);
  }

  .living__button {
    position: absolute;
    bottom: 10%;
  }
}

/* -------------------------------footer------------------------------- */
.footer {
  background-color: black;
  font-size: 20px;
}

.footer__container {
  min-height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}

.label {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
}

.main-footer__label {
  margin: 50px 0px;
}

.main-footer {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-footer__column {
  flex: 1 1 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 30px;
}

.main-footer__skills {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  gap: 10px;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__links {
  display: flex;
  gap: 30px;
  font-size: 50px;
}

.main-footer__skills-img {
  width: 60px;
  height: 60px;
}

@media (max-width:575.98px) {
  .label {
    font-size: 28px;
  }
  .main-footer {
    flex-direction: column;
  }
}