@import "Variables.scss";

.gallery {
  margin: $marginButtomNotPhone 0px;

  &__items {
    min-height: 600px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  &__item {
    background-color: lightgray;
    position: relative;
    padding: 0px 0px 70% 0px;
  }

  &__item img {
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: slide-in 1s forwards;
    filter: brightness(0.85);
  }

  &__image-text {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 30px;
    font-size: 42px;
    font-weight: bold;
    user-select: none;
  }
}


@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width:767px) {
  .gallery__item_big {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media (max-width:767px) {
  .gallery__image-text {
    font-size: $titleFontSize;
  }
}

@media (max-width:558px) {
  .gallery {
    margin-bottom: $marginButtomPhone;
  }
}