.my-input {
    width: 100%;
    padding: 5px 15px;
    margin: 5px 0px;
    border: 3px solid rgb(192, 192, 192);
    transition: border 0.3s ease-in-out;
    border-radius: 7px;
    transition: 0.3s;

    &:hover {
        border: 3px solid black;
    }

    &:active {
        border: 3px solid black;
    }
}