@import "Variables.scss";

.basket {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    z-index: 10;
    font-size: $CommonFontSize + 4px;

    &.active {
        opacity: 1;
        pointer-events: all;
    }


    &__content {
        padding: 15px;
        background-color: white;
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        width: 415px;
        opacity: 0;
        position: fixed;
        right: -415px;
        height: 100vh;
        transition: 0.4s;
        display: flex;
        flex-direction: column;

        @media (max-width:415px) {
            width: 100%;
            border-radius: 0px;
        }
    }

    &__content.active {
        opacity: 1;
        right: 0;
    }

    &__header {
        display: flex;
        margin-bottom: 40px;
        font-size: $titleFontSize - 2px;
        justify-content: space-between;
        @media (max-width:558.98px) {
            margin-bottom: 20px;
        }

        & svg {
            flex: 0 0 40px;
            cursor: pointer;
            transition: 0.3s;
        }
    }

    &__list {
        flex: 1 1 auto;
        overflow: auto;

        &::-webkit-scrollbar {
            display: block;
            width: 5px;
            overflow: auto;
            height: 5px;
            background-color: lightgray
        }

        &::-webkit-scrollbar-thumb {
            background: gray;
        }
    }

    &__item {
        border: 3px solid rgb(240, 236, 236);
        display: flex;
        max-height: 150px;
        padding: 5px;
        margin: 10px 0px;

        &:first-child,
        &:last-child {
            margin: 0;
        }
    }

    &__photo {
        position: relative;
        background-color: lightgray;
        padding: 100px 0px 5% 110px;
        margin: 0px 0px 0px 0px;
        height: 100%;
    }

    &__photo img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
    }

    &__title {
        font-size: $titleFontSize - 2px;
    }


    &__info {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        margin-left: 5px;
    }

    &__info-close {
        display: flex;

        & svg {
            flex: 0 0 auto;
            cursor: pointer;
            transition: 0.3s;
        }
    }

    &__item-name {
        height: 30px;
        overflow: hidden;
        flex: 1 1 auto;
    }

    &__price-quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    &__quantity {
        font-size: $CommonFontSize + 4px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        align-items: center;

        @media (max-width:767.98px) {
            font-size: $LittleCommonFontSize + 2px;
        }

        &-block {
            display: flex;
            flex: 1 1 auto;
            width: 120px;
            height: 40px;
            border: 2px solid black;

            @media (max-width:410.98px) {
                height: 40px;
            }
        }

        &-button {
            width: 32%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 5px;
            font-weight: 700;
            transition: 0.3s;

            &:hover {
                color: white;
                background-color: black;
            }
        }

        &-text {
            width: 36%;
            border-left: 2px solid black;
            border-right: 2px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 5px;
            font-weight: 500;
        }
    }
}

.subtotal {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    border-top: 2px solid black;
    padding-top: 20px;

    &__text {}

    &__price {}
}


#IconChangeColor:hover {
    background-color: #000000;
}

#IconChangeColor:hover path {
    fill: #ffffff;
}