@import "Variables.scss";

.form-select {
    width: 100%;
    padding: 5px 15px;
    margin: 5px 0px;
    border: 3px solid rgb(192, 192, 192);
    transition: border 0.3s ease-in-out;
    border-radius: 7px;
    transition: 0.3s;
    font-size: inherit;
    line-height: 27px;

    &:hover {
        border: 3px solid black;
    }

    &:active {
        border: 3px solid black;
    }

    &:focus {
        border-color: inherit;
        box-shadow: none;
    }
}

.my-form-control {
    width: 100%;
    padding: 5px 10px;
    margin: 5px 0px;
    border: 3px solid rgb(192, 192, 192);
    transition: border 0.3s ease-in-out;
    border-radius: 7px;
    transition: 0.3s;
    font-size: inherit;
    line-height: 27px;

    &:hover {
        border: 3px solid black;
    }

    &:active {
        border: 3px solid black;
    }

    &:focus {
        border-color: inherit;
        box-shadow: none;
    }
}


.modal {
    &__characteristic {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__characteristic-MyInput {
        width: 44%;
        margin-right: 2px;
    }

    &__button-div {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

svg {
    cursor: pointer;
}

.photos {
    &__main-photo {
        background-color: #FFF;
        display: flex;
    }

    &__main-photo img {
        margin: 0 auto;
        width: 100%;
    }

    &__all {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        overflow-x: auto;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar-thumb {
            background: gray;
        }

        &::-webkit-scrollbar {
            display: block;
            width: 10px;
            overflow: auto;
            height: 5px;
            background-color: lightgray;
        }
    }

    &__litle-photo {

        min-width: 33.33%;
        border: 3px solid rgb(240, 236, 236);
        transition: border 0.3s ease-in-out;

        &:hover {
            border: 3px solid black;
        }

    }

    &__litle-photo img {
        width: 100%;
    }
}