@import "Variables.scss";

.trending {
  margin-bottom: $marginButtomNotPhone;

  &__title-buttons {
    display: flex;
    justify-content: space-between;
  }

  &__buttons {
    width: 110px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__button:last-child {
    margin-left: 10px;
  }

  &__button:first-child {
    transform: rotate(180deg);
  }

  &__button {
    background-color: black;
    width: 45px;
    height: 45px;
    font-size: $CommonFontSize;
    align-items: center;
    display: flex;
    justify-content: center;

    svg {
      fill: white;
      width: 20px;
    }
  }

  &__items {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin-top: 50px;

    @media (max-width:575.98px) {
      display: flex;
      overflow-x: scroll;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
      margin-top: 20px;
    }
  }

  &__items * {
    min-width: 20%;

    @media (max-width:1199.98px) {
      min-width: 25%;
    }

    @media (max-width:991.98px) {
      min-width: 33%;
    }

    @media (max-width:767.98px) {
      min-width: 50%;
    }

    @media (max-width:575.98px) {
      min-width: 100%;
    }
  }

  &__items::-webkit-scrollbar {
    display: block;
    width: 10px;
    overflow: auto;
    height: 5px;
    background-color: lightgray
  }

  &__items::-webkit-scrollbar-thumb {
    background: gray;
  }

  @media (max-width:575.98px) {
    margin-bottom: $marginButtomPhone;
  }
}